window#waybar {
  background-image: linear-gradient(to top, @bg2, @bg, @bg, @bg2);
  color: @fg;
  border-top: 1px solid @border;
}

#taskbar button {
  /* background: @bg2; */
  margin: 4px;
  margin-left: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, @bg3, @bg2, @bg2, @bg3);
  border: 1px solid @bg3;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#taskbar button.active {
  /* background-color: @accent; */
  /*background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1),
    transparent,
    rgba(255, 255, 255, 0.3)
  );*/
  background-image: linear-gradient(to bottom, @bg4, @bg3, @bg3, @bg4);
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border: 1px solid @bg4;
  /* color: @bg; */
}

#taskbar button.minimized {
  opacity: 0.4;
}

#custom-left-arrow {
  font-size: 10pt;
  color: @unfocused;
}

#custom-notification,
#battery-expander,
#volume-expander,
#backlight-expander {
  margin-right: 12px;
}

#custom-notification:hover,
#battery-expander:hover,
#volume-expander:hover,
#tray-expander:hover,
#backlight-expander:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}

#volume-expander:hover #wireplumber.volume,
#battery-expander:hover #battery.percentage,
#backlight-expander:hover #backlight {
  text-shadow: none;
}

#quick-access {
  margin-left: 4px;
}

#clock,
#quick-access,
#workspaces-group,
#custom-power,
#custom-search {
  margin-top: 4px;
  margin-bottom: 4px;
  /* background-color: @bg2; */
  border-radius: 8px;
  padding: 6px 12px;
  background-image: linear-gradient(to bottom, @bg3, @bg2, @bg2, @bg3);
  border: 1px solid @bg3;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#custom-power {
  color: @urgent;
}

#custom-search {
  color: @accent;
}

#clock:hover,
#taskbar button:hover,
#workspaces-group:hover,
#custom-power:hover,
#custom-search:hover,
#taskbar button:hover {
  background-image: linear-gradient(to bottom, @bg4, @bg3, @bg3, @bg4);
  border: 1px solid @bg4;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}

#custom-search:hover {
  text-shadow: 0 0 3px @accent;
}

#custom-power:hover {
  text-shadow: 0 0 3px @urgent;
}

/*#taskbar button.active:hover {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2),
    transparent,
    rgba(255, 255, 255, 0.4)
  );
  border: 1px solid @fg;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}*/

#window {
  margin-left: -8px;
}

#workspaces {
  margin-left: 4px;
}

/*#workspaces {
  font-size: 0;
  padding-right: 0;
  background-color: @bg2;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: @unfocused;
  border-radius: 100px;
}

#workspaces button.active {
  padding-left: 20px;
  padding-right: 20px;
  background-color: @accent;
  color: @bg;
}*/

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

tooltip {
  background-image: linear-gradient(to bottom, transparent, @bg2);
  border: 1px solid @border;
  border-radius: 8px;
}

tooltip label {
  padding: 4px;
  font-weight: normal;
  color: @fg;
}

menu {
  font-weight: normal;
  background-color: @bg2;
  color: @fg;
  border: 1px solid @bg4;
}

menuitem {
  padding: 6px 12px;
}

/*.arrow.up,
.arrow.down,
.arrow.left,
.arrow.right {
  color: @fg;
}*/

menuitem:hover {
  background-color: @bg3;
}

#tray,
#battery.percentage,
#wireplumber.volume,
#backlight {
  margin-left: 6px;
}

#custom-separator {
  color: @bg2;
}

#clock {
  font-weight: bold;
}

#custom-notification {
  font-family: "Font Awesome 7 Free";
  font-weight: bold;
}

.bottom-bar {
  background-color: transparent;
  border: none;
}

#custom-thing {
  background-color: transparent;
  font-size: 1px;
  color: transparent;
  padding-left: 200px;
  padding-right: 200px;
}
