window#waybar {
  color: @fg;
  background-image: linear-gradient(to bottom, @bg2, @bg, @bg);
  color: @fg;
  font-weight: bold;
  border-top: 1px solid @border;
}

#taskbar button {
  /* background: @bg2; */
  margin: 4px 2px;
  padding: 4px;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, @bg3, @bg2, @bg3);
  border: 1px solid @bg3;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#taskbar button.active {
  background-color: @accent;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.3),
    transparent
  );
  border: 1px solid @accent;
}

#taskbar button.minimized {
  opacity: 0.4;
}

#custom-left-arrow {
  font-size: 10pt;
  color: @unfocused;
}

#tray-expander,
#battery-expander,
#backlight-expander {
  margin-left: 14px;
}

#quick-access {
  margin-left: 4px;
}

#clock,
#custom-notification,
#quick-access,
#workspaces-group {
  font-size: 11pt;
  margin-top: 4px;
  margin-bottom: 4px;
  /* background-color: @bg2; */
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  background-image: linear-gradient(to bottom, @bg3, @bg2, @bg3);
  border: 1px solid @bg3;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#custom-power {
  padding-left: 12px;
  padding-right: 12px;
  background-color: @urgent;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.2),
    transparent
  );
  border: 1px solid @urgent;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  font-size: 13pt;
  color: @bg;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
}

#custom-search {
  padding-left: 12px;
  padding-right: 12px;
  background-color: @accent;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.3),
    transparent
  );
  border: 1px solid @accent;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  font-size: 13pt;
  color: @bg;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
}

#clock:hover,
#taskbar button:hover,
#custom-notification:hover,
/* #quick-access:hover, */
#workspaces-group:hover {
  background-image: linear-gradient(to bottom, @bg4, @bg3, @bg4);
  border: 1px solid @bg4;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#custom-power:hover {
  padding-left: 12px;
  padding-right: 12px;
  background-color: @urgent;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.2)
  );
  border: 1px solid @urgent;
}

#custom-search:hover {
  padding-left: 12px;
  padding-right: 12px;
  background-image: linear-gradient(to bottom, @bg3, @bg2, @bg3);
  background-color: @accent;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.2)
  );
  border: 1px solid @accent;
}

#taskbar button.active:hover {
  /* border-bottom: 2px solid @accent; */
  /* background-color: @accent; */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(255, 255, 255, 0.2)
  );
  border: 1px solid @accent;
}

#window {
  margin-left: -8px;
}

#workspaces {
  margin-left: 4px;
}

/*#workspaces {
  font-size: 0;
  padding-right: 0;
  background-color: @bg2;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: @unfocused;
  border-radius: 100px;
}

#workspaces button.active {
  padding-left: 20px;
  padding-right: 20px;
  background-color: @accent;
  color: @bg;
}*/

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

tooltip {
  background-image: linear-gradient(to bottom, transparent, @bg2);
  border: 1px solid @border;
  border-radius: 8px;
}

tooltip label {
  padding: 4px;
  font-weight: normal;
  color: @fg;
}

menu {
  font-weight: normal;
  background-color: @bg;
  color: @fg;
  padding: 8px;
  border: 1px solid @border;
  border-radius: 8px;
}

menuitem {
  padding: 8px;
  border-radius: 8px;
}

/*.arrow.up,
.arrow.down,
.arrow.left,
.arrow.right {
  color: @fg;
}*/

menuitem:hover {
  background-color: @bg2;
}

#tray,
#battery.percentage,
#wireplumber.volume,
#backlight {
  margin-left: 8px;
}

#custom-separator {
  color: @bg2;
}

#custom-notification {
  font-family: "Font Awesome 7 Free";
  font-weight: bold;
  color: @yellow;
}
