
@define-color bg0 #{{base00}};
@define-color bg1 rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.09);
@define-color bg2 rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.125);
@define-color fg0 #{{base05}};
@define-color shadow rgba(0, 0, 0, 0.6);
* {
  color: @fg0;
  box-shadow: unset;
}

.notification {
  background: @bg0;
  border: transparent;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 0px 5px @shadow;
}

.notification-content {
  background: @bg0;
}

.notification-default-action, notification-default-action:hover {
  border: none;
}

.notification-default-action:hover,
.notification-action:hover {
  background: @bg1;
}

.control-center {
  background: @bg0;
  border-radius: 15px;
  border: transparent;
  box-shadow: 0px 0px 5px @shadow;
  padding: 5px;
}

.widget-mpris-player {
  background: @bg1;
}

.widget-mpris button:hover {
  background: @bg1;
}

.widget-mpris-player button:hover {
  color: @bg0;
}

.close-button {
  background: @bg1;
}

.image {
  border-radius: 10px;
}

.widget-dnd > switch {
  background: @bg1;
  border: transparent;
}

.widget-dnd > switch:checked {
  background: @accent;
}

.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
  background: @fg0;
}

.widget-buttons-grid {
  background-color: @bg0;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  background-color: @bg1;
  border: transparent;
  border-radius: 10px;
  font-size: 32px;
  padding: 5px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background-color: @bg2;
}
