window {
  background: transparent;
}

#outer-box {
  background: #{{base00}};
  border: 1px solid #{{base01}};
  border-radius: 15px;
  padding: 15px;
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);*/
}

#input, #input:focus {
  margin-bottom: 10px;
  border-radius: 5px;
  background: #{{base01}};
  border: transparent;
  outline: transparent;
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  color: #{{base05}};
}

#inner-box {
  border-radius: 5px;
  padding: none;
}

#entry, #selected, #unselected, #entry:focus {
  padding: 3px;
  border-radius: 5px;
  border: transparent;
  outline: transparent;
}

#entry:selected {
  /*background: rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.09);*/
  background: #{{base0D}};
  color: #{{base00}};
}

#img {
  padding-right: 10px;
}

/*#input > image.left {
  -gtk-icon-transform:scaleX(0);
}*/
