$border: #343240;
$bg: #191724;
$bg2: #262432;
$bg3: #343240;
$bg4: #413F4E;
$fg: #E0DEF4;
$red: #EB6F92;
$yellow: #EA9A97;
$green: #3E8FB0;
$blue: #C4A7E7;
$purple: #F6C177;
$margin: 5px;

@import "colours";

$round: 16px;


* {
  all: unset;
  color: $fg;
}

button {
  padding: 8px;
  border-radius: 8px;
  background-color: $bg2;
  border: 1px solid $border;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: $bg3;
}

.power, .confirm {
  background: none;
}

.confirm-text {
  font-weight: bold;
  // font-size: 1.25rem;
}

.confirm-buttons {
  margin: 8px;
}

.power-box, .confirm-box, .calendar-box {
  // box-shadow: 0 0 5px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-left: 1px solid $border;
  border-top: 1px solid $border;
  border-top-left-radius: 12px;
  background-color: $bg;
}

/*.user-logout-box {
  padding: 16px;
  // background: repeating-linear-gradient($bg2, $bg2 8%, transparent 25%, $bg2, $bg2 85%, transparent 100%);
  // background: repeating-linear-gradient($bg3, $bg2 20%, $bg2 50%, $bg, $bg2 90%, $bg3);
  background: linear-gradient($bg2, $bg);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  // border-top: 1px solid $border;
  // background-color: $red;
  // background-image: linear-gradient(to bottom, rgba(255, 255, 150, 0.25), transparent, transparent, rgba(10, 7, 65, 0.2), rgba(10, 7, 65, 0.4), rgba(10, 7, 65, 0.5), rgba(10, 7, 65, 0.6), rgba(10, 7, 65, 0.4), rgba(255, 255, 150, 0.1));
  // background-blend-mode: hard-light;
  // border: 1px solid $red;
}*/

.resource-usage-label {
  padding: 8px 16px;
  background: linear-gradient($bg2, $bg, $bg, $bg2);
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  font-weight: bold;
}

.confirm-text {
  padding: 8px 16px;
  background: linear-gradient($bg2, $bg, $bg, $bg2);
  border-bottom: 1px solid $border;
  // border-top-right-radius: 8px;
  border-top-left-radius: 12px;
}

.user-box {
  padding: 16px;
  // background: repeating-linear-gradient($bg3, $bg2 20%, $bg2 50%, $bg, $bg2 90%, $bg3);
  background: linear-gradient($bg2, $bg, $bg, $bg2);
  border-bottom: 1px solid $border;
  // border-top-left-radius: 16px;
  // border-top-right-radius: 8px;
  border-top-left-radius: 12px;
}

.username-and-hostname {
  font-size: 1.5rem;
}

.power-button-box {
  padding: 8px;
  // background-image: linear-gradient(to left, rgba(255, 255, 150, 0.25), transparent, transparent, rgba(10, 7, 65, 0.2), rgba(10, 7, 65, 0.4), rgba(10, 7, 65, 0.5), rgba(10, 7, 65, 0.6), rgba(10, 7, 65, 0.4), rgba(255, 255, 150, 0.1));
  // background-image: linear-gradient(to right, transparent, rgba(0, 0, 50, 0.2), rgba(0, 0, 50, 0.3), rgba(0, 0, 50, 0.3), rgba(0, 0, 50, 0.2), transparent);
  // background-image: linear-gradient(to right, rgba(0, 0, 50, 0.3), transparent, rgba(0, 0, 50, 0.3));
  background: linear-gradient($bg2, $bg, $bg, $bg2);
  // background-blend-mode: hard-light;
  border-top: 1px solid $border;
  // border-bottom-left-radius: 8px;
  // border-bottom-right-radius: 8px;
}

.power-button-box button {
  font-family: "Font Awesome 7 Free";
  font-size: 20pt;
  background: linear-gradient($bg3, $bg2, $bg, $bg3);
  // background-image: repeating-linear-gradient($bg3, $bg2 20%, $bg2 50%, $bg, $bg2 90%, $bg3);
  border: 1px solid $bg4;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.power-button-box button:hover {
  background: linear-gradient($bg4, $bg3, $bg2, $bg4);
  border: 1px solid $bg4;
}

.power-button-lock label {
  color: $blue;
}

.power-button-exit label {
  color: $green;
}

.power-button-reboot label {
  color: $yellow;
}

.power-button-shutdown label {
  color: $red;
}

.power-button-lock:hover label {
  text-shadow: 0 0 3px $blue;
}

.power-button-exit:hover label {
  text-shadow: 0 0 3px $green;
}

.power-button-reboot:hover label {
  text-shadow: 0 0 3px $yellow;
}

.power-button-shutdown:hover label {
  text-shadow: 0 0 3px $red;
}

// .user-box {
//   border: 1px solid $border2;
//   // background-color: $border2;
//   padding: 10px;
//   border-radius: 5px;
// }

.profile-picture {
  // border-radius: 5px;
  border: 1px solid $blue;
  box-shadow: 0 0 3px $blue;
  // box-shadw: 0 0 5px rgba(0, 0, 0, 0.15);
}

.heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 16px;
}

.os-version {
  font-size: unset;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
  opacity: 0.5;
}

.hline {
  // border-top: 1px solid $fg;
  // opacity: 0.15;
  border-top: 1px solid $border;
}

.grid-list-box, .text-box, .quote {
  padding: 16px;
}

.quote {
  font-style: italic;
  border-radius: 8px;
  // background: linear-gradient($bg2, $bg, $bg2);
  background: $bg2;
  border: 1px solid $bg3;
  margin: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.quote-author {
  opacity: 0.5;
}

.pretty-time {
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient($bg2, $bg, $bg2);
  border-bottom: 1px solid $border;
  border-top-left-radius: 12px;
}

.pretty-time-date {
  font-size: 1.25rem;
  font-style: italic;
  opacity: 0.5;
}

.pretty-time-clock {
  font-size: 40pt;
  font-weight: bold;
}

.pretty-time-separator {
  font-size: 5pt;
  font-family: "Font Awesome 7 Free";
}

.separator {
  font-family: "Font Awesome 7 Free";
  font-weight: bold;
  font-size: 7pt;
}

.separator-center {
  font-size: 11pt;
}

.separator-edge {
  font-size: 3pt;
}

tooltip {
  background: linear-gradient(transparent, $bg2);
  border: 1px solid $border;
  border-radius: 8px;
  padding: 0;
}

tooltip label {
  text-shadow: none;
  background: none;
  margin: 5px;
  padding: 0;
  color: $fg;
}

.cal {
  background-color: $bg;
  padding: 16px;
  padding-top: 0;
  padding-bottom: 8px;
}

calendar.header {
  border-radius: 0px;
}

calendar.button {
  background-color: transparent;
}

calendar.day-number {
  padding: 2px;
  margin: 0;
}

calendar:selected {
  border-radius: 8px;
  color: $blue;
  background-color: $bg2;
  border: 1px solid $border;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}
