
window {
  background: transparent;
}

#outer-box {
  background: #{{base00}};
  border: 1px solid #{{base02}};
  border-radius: 10px;
  padding: 15px;
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);*/
}

#input, #input:focus {
  margin-bottom: 10px;
  border-radius: 10px;
  background: #{{base00}};
  border: transparent;
  outline: transparent;
  box-shadow: none;
}

#inner-box {
  border-radius: 15px;
}

#entry, #selected, #unselected, #entry:focus {
  padding: 3px;
  border-radius: 10px;
  border: transparent;
  outline: transparent;
}

#entry:selected {
  background: rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.09);
}

#img {
  padding-right: 10px;
}
