/**
* @name my stylix theme
* @author yazoink
* @version 0.0.0
* @description :P
**/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --font: Rubik;
  --accentcolor: {{base0D-rgb-{r,g,b}}};
  --accentcolor2: {{base0C-rgb-{r,g,b}}};
  --linkcolor: {{base0D-rgb-{r,g,b}}};
  --mentioncolor: {{base0A-rgb-{r,g,b}}};
  --textbrightest: {{base07-rgb-{r,g,b}}};
  --textbrighter: {{base06-rgb-{r,g,b}}};
  --textbright: {{base06-rgb-{r,g,b}}};
  --textdark: {{base05-rgb-{r,g,b}}};
  --textdarker: {{base05-rgb-{r,g,b}}};
  --textdarkest: {{base04-rgb-{r,g,b}}};
  --backgroundaccent: {{base0D-rgb-{r,g,b}}};
  --backgroundprimary: {{base00-rgb-{r,g,b}}};
  --backgroundsecondary: {{base01-rgb-{r,g,b}}};
  --backgroundsecondaryalt: {{base01-rgb-{r,g,b}}};
  --backgroundtertiary: {{base02-rgb-{r,g,b}}};
  --backgroundfloating: {{base02-rgb-{r,g,b}}};
  --settingsicons: 1;
}
