/**
* @name my stylix theme
* @author yazoink
* @version 0.0.0
* @description :P
**/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --font: Rubik;
  --accentcolor: {{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}};
  --accentcolor2: {{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}};
  --linkcolor: {{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}};
  --mentioncolor: {{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}};
  --textbrightest: {{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}};
  --textbrighter: {{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}};
  --textbright: {{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}};
  --textdark: {{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}};
  --textdarker: {{base04-rgb-r}},{{base04-rgb-g}},{{base04-rgb-b}};
  --textdarkest: {{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}};
  --backgroundaccent: {{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}};
  --backgroundprimary: {{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}};
  --backgroundsecondary: {{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}};
  --backgroundsecondaryalt: {{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}};
  --backgroundtertiary: {{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}};
  --backgroundfloating: {{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}};

  --settingsicons: 1;
}

.auto_c49869::-webkit-scrollbar-thumb {
  background-color: #{{base01-hex}};
}

.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c {
  background-color: #{{base0F-hex}};
}

.inner_c69a7b.biteSize_c69a7b {
  background-color: #{{base01-hex}};
}
