window#osd {
  padding: 0px;
  border-radius: 999px;
  background-color: #{{base00}};
  border: 1px solid #{{base01}};
}

window#osd #container {
  color: #{{base05}};
}

window#osd progress {
  background-color: #{{base0D}};
}
