.messages,
.message-container{
  border: transparent;
  border-radius: 10px;
  padding: 10px;
}

.message-container-avatar,
.mutual-friend-item-avatar {
  border: transparent;
  border-radius: 50%;
}
