window#waybar {
  background-color: @bg;
  color: @fg;
  background-color: @bg;
  color: @fg;
  font-weight: bold;
}

#tray-expander,
#battery-expander,
#backlight-expander {
  margin-left: 14px;
}

#quick-access {
  margin-left: 7px;
}

#quick-access,
#workspaces,
#custom-search,
#custom-power,
#clock {
  background-color: @bg2;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 8px;
}

#workspaces {
  padding-right: 0;
}

.modules-left {
  margin-left: 15px;
}

.modules-right {
  margin-right: 12px;
}

tooltip {
  background-color: @bg;
  border: 1px solid @border;
  border-radius: 15px;
}

tooltip label {
  padding: 5px;
  font-weight: normal;
  color: @fg;
}

menu {
  font-weight: normal;
  background-color: @bg;
  color: @fg;
  padding: 10px;
  border: 1px solid @border;
  border-radius: 15px;
}

menuitem {
  /* padding: 5px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

/*.arrow.up,
.arrow.down,
.arrow.left,
.arrow.right {
  color: @fg;
}*/

menuitem:hover {
  background-color: @bg2;
}

#workspaces button {
  margin-right: 15px;
  color: @unfocused;
  min-width: 8pt;
  /* border: 1px solid black; */
}

#workspaces button.active {
  color: @fg;
}

#workspaces button.urgent {
  color: @urgent;
}

#tray,
#battery.percentage,
#wireplumber.volume,
#backlight {
  margin-left: 5px;
}

#custom-power {
  color: @urgent;
}

#custom-separator {
  color: @bg2;
}

#custom-search {
  color: @accent;
}
