.background {
  background-color: transparent;
  background-image: none;
  border-radius: 10px;
  background-color: #{{base00}};
  border: 1px solid #{{base01}};
  padding: 15px;
}

button {
    padding: 25px;
}
